[submodule "src/sonic-swss"]
	path = src/sonic-swss
	url = https://kochsource.io/oplinkoms/swss-otaiextension.git
[submodule "src/sonic-sairedis"]
	path = src/sonic-sairedis
	url = https://kochsource.io/oplinkoms/sairedis-otaiextension.git
[submodule "src/sonic-mgmt-common"]
	path = src/sonic-mgmt-common
	url = https://kochsource.io/oplinkoms/mgmt-common-ot-extension
[submodule "src/sonic-mgmt-framework"]
	path = src/sonic-mgmt-framework
	url = https://kochsource.io/oplinkoms/mgmt-framework-ot-extension
[submodule "sonic-mlx-debs"]
	path = sonic-mlx-debs
	url = https://kochsource.io/oplinkoms/sonic-mlx-debs
[submodule "src/sonic-ols"]
	path = src/sonic-ols
	url = https://kochsource.io/oplinkoms/sonic-ols
[submodule "src/sonic-ot-cli"]
	path = src/sonic-ot-cli
	url = https://kochsource.io/oplinkoms/sonic-ot-cli.git
