{
  "ATTENUATOR_TABLE|VOA1": {
    "type": "hash",
    "value": {
      "id": "0",
      "attenuation": "4.2",
      "attenuation-mode": "CONSTANT_ATTENUATION",
      "enabled": "true"
    }
  },
  "ATTENUATOR_TABLE|VOA2": {
    "type": "hash",
    "value": {
      "id": "1",
      "attenuation": "3.2",
      "attenuation-mode": "CONSTANT_ATTENUATION",
      "enabled": "true"
    }
  },
  "AMPLIFIER_TABLE|PA": {
    "type": "hash",
    "value": {
      "id": "0",
      "target-gain": "4.2",
      "target-gain-tilt": "0.4",
      "gain-range": "FIXED_GAIN_RANGE",
      "amp-mode": "CONSTANT_GAIN",
      "enabled": "true",
      "autolos": "true",
      "apr-enabled": "true"
    }
  },
  "AMPLIFIER_TABLE|BA": {
    "type": "hash",
    "value": {
      "id": "1",
      "target-gain": "5.2",
      "target-gain-tilt": "0.5",
      "gain-range": "FIXED_GAIN_RANGE",
      "amp-mode": "CONSTANT_GAIN",
      "enabled": "true",
      "autolos": "true",
      "apr-enabled": "true"
    }
  },
  "OSC_TABLE|OSC": {
    "type": "hash",
    "value": {
      "id": "0",
      "osc-sfp-enabled": "true"
    }
  },
  "OSC_TABLE|OSC-P": {
    "type": "hash",
    "value": {
      "id": "1",
      "osc-sfp-enabled": "true"
    }
  }
}
